/* Fonts */
/*@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&family=Patua+One&family=Alice&display=swap');*/
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic|Patua+One);
:root {
    --c-whtHeader: #212121;
    --c-subHead: #CDAA64;
    --c-contactText: #D9BE8D;
    --c-bkgContact: #3C4F2F;
    --c-bkgFooter: #1B2C0F;
    --c-textActive: #8EBD8F;
    --c-grnText: #014701;
    --ts-textShadow: 2px 2px 0px #000;
    --bs-boxShadow: 2px 2px 0px #6E6C52;

    --ff-Title: 'Patua One', serif;
    --ff-subHead: 'Lato', Arial, sans-serif;;
    --ff-amp: 'Alice', serif;

}
* {
    box-sizing: border-box;
}

body, h1, h2, ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: rgba(0, 0, 0, 0.5) url('../assets/imgs/grass.jpg');
    text-align: center;
    padding-bottom: 100px;
    color: white;
    background-attachment: fixed;
}

h1, .subHeadText, nav {
    background-color: rgba(0, 0, 0, 0.7);
}
h1 {
    font-family: var(--ff-Title);
    font-weight: normal;
    text-shadow: var(--ts-textShadow);
}
h1 > span {
    font-family: var(--ff-Title);
    
}
header > h2 {
    color: var(--c-subHead);
    padding-top: 1rem;
    font-family: var(--ff-subHead);
    font-size: large;
}

nav > ul {
    display: flex;
    list-style-type: none;
    flex-direction: inline;
    justify-content: center;
    gap: 24px;
    padding-top: 2rem;
    padding-bottom: .75rem;
    font-family: var(--ff-subHead);
}

.current {
    color: var(--c-textActive);
    text-decoration-line: overline;
}

.notCur {
    text-decoration-line: underline;
}

.hero-img {
    border: var(--c-contactText) 5px solid;
    border-radius: 50%;
    margin: -3rem auto 2rem auto;

}
.intro {
    font-family: var(--ff-subHead);
   

}
.intro > h2 {
    font-weight:bold;
}

.intro > p {
    text-align: left;
    color: var(--c-grnText);
    padding: 0% 10%;
}

article {
    background-image: url('../assets/imgs/bg.jpg');
}

.services {
    background-color: rgba(256,256, 256, 0.5);
    padding: 3%;
    margin: 5%;
    box-shadow: var(--bs-boxShadow);
    border-radius: 15px 0px 15px 25px;
}
.services > h2 {
    font-family: var(--ff-subHead);
}


.services > ul {
    text-align: left;
    font-family: var(--ff-subHead);
    padding: 3% 10%;
    font-weight: bold;
}

li > span {
    color: var(--c-grnText);
    font-weight: normal;
    
}

.services > ul > li:not(:last-child) {
    margin-bottom: 1rem;
}

.contact {
    font-family: var(--ff-subHead);
    padding: 16px;
    background-color: var(--c-bkgContact);
    color: var(--c-contactText);
    
}

.contact >h2 {
    text-shadow: var(--ts-textShadow);
    padding-bottom: 1.5rem;
}

a[href^="tel://"] {
    text-decoration: none; 
    color: inherit; 
    text-decoration-line: underline;
    font-weight: bold;
    font-size: larger;
    padding-bottom: 1rem;
}
.social {
    padding-top: 1rem;
}

.social img {
    width: 35px;
    height: auto;
}

.social a:not(:last-child) {
    padding-right: 5%;
}


footer {
    background-color: var(--c-bkgFooter);
    padding: 8px;
    color: var(--c-contactText);
    size: 8px;
    font-family: var(--ff-subHead);

}

@media only screen and (max-width : 700px) {
    .servicesList li span {
        display: block;
    }

}

@media only screen and (min-width : 700px) {
    nav > ul {
        gap: 40px;
    }

}

@media only screen and (min-width : 900px) {
    nav > ul {
        gap: 60px;
    }

}

@media only screen and (min-width : 1200px) {
    nav > ul {
        gap: 100px;
    }

}